/*******************************Calendar Top Navigation*********************************/
div#calendar{
  margin: 0px auto;
  padding: 0px;
  width: 602px;
  font-family: 'Roboto', sans-serif;
}
 
div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:40px;
    background-color: white;      
}
 
div#calendar div.header{
    line-height: 40px;  
    vertical-align: middle;
    position: absolute;
    top: 0px;
    width: 597px;
    height: 40px;   
    text-align: center;
    border: 1px solid lightgrey;
}
 
div#calendar div.header a.prev,div#calendar div.header a.next{ 
    position: absolute;
    top: 0px;   
    height: 17px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: grey;
}

div#calendar div.header a.prev:hover, div#calendar div.header a.next:hover {
	color: #4285f4;
}
 
div#calendar div.header a.title{
    color: grey;
    font-size:18px;
}
 
 
div#calendar div.header a.prev{
	padding-top: 6px;
    left: 180px;
}

div#calendar div.header a.pyear{
    left: 10px;
}
 
div#calendar div.header a.next{
	padding-top: 6px;
    right: 180px;
}

div#calendar div.header a.nyear{
    right: 10px;
}
 

/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content{
    background-color: white;
}
 
div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}
 
div#calendar ul.label li{
    margin: 0px;
    padding: 0px;
    margin-right: 5px;  
    float: left;
    list-style-type: none;
    width: 80px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: grey;
    font-size: 15px;
    background-color: transparent;
}
 
 
div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
 
/** overall width = width+padding-right**/
div#calendar ul.dates li{
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    margin-top: 5px;
    line-height: 80px;
    vertical-align: middle;
    float: left;
    list-style-type: none;
    width: 78px;
    height: 78px;
    font-size: 25px;
    background-color: white;
    color: grey;
    text-align:center;
    border: 1px solid lightgrey;
}
 
:focus{
    outline:none;
}
 
div.clear{
    clear:both;
}   